html, body {
    //background-color: #fff;
    background-image: url('/img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 120px;
}

.links > a {
    color: white;
    -webkit-text-stroke-color: black;
    padding: 0 25px;
    font-size: 20px;
    font-weight: 900;;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}