// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';

body{
  margin: 0px; 
  box-sizing: border-box;
  background-image: url(/img/banner/background.png);
}

.navbar-middle{
  box-shadow:  inset 0 0 70px 0 lightgrey !important;
  color: rgb(112, 112, 112);
  border-bottom-style: solid;
  border-bottom-color: green;
}

.banner{
  height:36vw;
}

/*TOP NAVBAR SOCIAL MEDIA*/

.top-navbar {
  background-color: rgba(233, 227, 227, 0.089);
  box-shadow:  inset 0 0 70px 0 lightgrey !important;
  color: rgb(112, 112, 112);
    .icon {
    height: 20px !important;
    width: 20px !important;
    margin: 0 3px;
  }
    .div-social {
    border-left: 1.5px solid lightgray;
    padding-left: 1vw;
    display: inline-flex;
      #facebook{
      background-image: url(/img/icon/social/facebook.png);
      background-size: cover;
    }
    #instagram{
      background-image: url(/img/icon/social/instagram.png);
      background-size: cover;
    }
  }
    .div-idioma{
    display: inline-flex;
    border-left: 1.5px solid lightgray;
    padding-left: 1vw;

    .idioma {
    height: 20px !important;
    width: 20px !important;
    margin: 0 3px;
    }

    #portuguese{
    background-image: url(/img/icon/idioma/portuguese.png);
    background-size: cover;
    }

    #spanish{
    background-image: url(/img/icon/idioma/spanish.png);
    background-size: cover;
    }
  }
}

/* Navbar */

.navbar-brand {
  height: 8vw;
  width: 8vw;
  background-image: url(/img/logo.png);
  background-size: cover;
  margin: 0 2vw;
}

.brand-sm{
  display: none;
}

.navbar-collapse .nav-item{
margin: 0 2em;
border-radius: 5px;
white-space: nowrap;
 
  .nav-link{
  font-size: 100%;
  letter-spacing: 0.168em;
  }
}

.nav-item-hover:hover{
  background-color: rgba(21, 182, 88, 0.6);
  transition: 0.5s;
}

.nav-link:hover{
  color:white !important;
}

/* SEARCH BAR AND CAR*/

.menu-box{
  margin: 0 50px;
  display: flex;
  justify-content: space-between;  
  align-items: center;
  position: absolute;
  float: right;
  right: 0;
}

.menu-box-sm{
  display: none;
  
}
  
.icon-btn{
  img{
  height: 25px;
  }
}

.icon-btn:focus{
  box-shadow: none;
}

.searchbar{
  display: flex;
  align-items: center;
  margin-bottom: auto;
  margin-top: auto;
  height: 40px;
  background-color: transparent;
  border-radius: 30px;
  padding: 10px;
  border: 0.5px solid rgba(170, 170, 170, 0);

}

    .search_input{
    border: 0;
    outline: 0;
    width: 0;
    caret-color:transparent;
    transition: width 0.4s linear;
    line-height: 0 !important;
    background:none;
    }

    .searchbar:hover > .search_input{
    padding: 0 10px;
    width: 9vw;
    caret-color:black;
    transition: width 0.4s linear;
    }

    .searchbar:hover{
    background-color: white;
    border: 0.5px solid rgb(170, 170, 170);
    }

    .search_icon{
    height: 20px;
    width: 20px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    text-decoration:none;
    }

    .search_icon img{
    height: 20px;
    width: 20px;
    }

.search-sm{
  display:none;
}

// CONTEÚDO

.banner{
  padding:0;
}

.slide{

}

.content-title{
  font-family: 'Merienda', cursive;
  font-size: 4.4vw;
  margin: 3vw;
}

.content-subtitle{
  font-size: 2.5vw;
}

.nossa-empresa{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  color:rgb(8, 80, 50);
  letter-spacing: 0.2em;
  line-height: 2vw;
  text-align: justify;
  padding:0 10vw;

  div{
    padding: 1.5vw 1.5vw 4.5vw 1.5vw;
      p{
        font-size: 1.6vw;
      } 

    .content-title{
      border-bottom: solid 1px rgb(8, 80, 50);
      border-top: solid 1px rgb(8, 80, 50);
     
    }
  }
    .texto-2colunas{
      margin: 0 auto;
      column-count:2;
      column-rule:2px dotted rgb(8, 80, 50);
      -moz-column-count:2;
      -moz-column-rule:2px dotted rgb(8, 80, 50);
      -webkit-column-count:2;
      -webkit-column-rule:2px dotted rgb(8, 80, 50);
      -o-column-count:2;
      -o-column-rule:2px dotted  rgb(8, 80, 50);
      column-gap: 40px;
    }
}

.subtext{
  color:white;
  letter-spacing: 0.2em;
  line-height: 2vw;
  font-size: 1.6vw;
  text-align: justify;
}

.subtext-erro{
  letter-spacing: 1px;
  font-size: 1.2vw;
}

.fale-conosco{
  .subtext{
    color:rgb(8, 80, 50);
  }
}
.section-foto{
  padding:0 10vw;
  justify-content: space-between;
      h2{
  color:rgb(8, 80, 50) ;
  font-family: 'Merienda', cursive; 
  margin-bottom: 1.5em;
  }
  .galeria{
    width: 100%;

    .foto-galeria {
      width: auto;
      height: auto;
        img{
          height:16vw;
        }
    }
  }


}

.local{
  h2{
    color:rgb(8, 80, 50) ;
    font-family: 'Merienda', cursive; 
    margin-bottom: 1.5em;
  }
  iframe{
    height:50vw;
  }
  margin-bottom: 5vw;
  padding:0 10vw;

}

.fabrica{
  margin: 5vw 0;
}

.produtos{
  padding: 1em 10vw;
  color: rgb(8, 80, 50);
  margin-top: 2em;

  .subtext{
    color:rgb(8, 80, 50);
    line-height: 1.5em;
  }

    .content-title{
      border-bottom: solid 1px rgb(8, 80, 50);
      border-top: solid 1px rgb(8, 80, 50);
    }
}

.descricao-produtos{
  text-align: justify;
  font-size: 1.2vw;
}

.nome-produtos a{
  color:rgb(8, 80, 50);
  font-family: 'Merienda', cursive;
  font-size: 1.7vw;
}

.produtos-list{
  background-color:rgba(255, 255, 255, 0.404);
}
// FORMULÁRIO DE CONTATO 

.fale-conosco{
  padding: 1.5em 10vw;
  color:rgb(8, 80, 50);
  
  border-bottom: 1px solid rgb(8, 80, 50);
    .content-title{
      border-bottom: solid 1px rgb(8, 80, 50);
      border-top: solid 1px rgb(8, 80, 50);
    }

  .card-body{
    p{
      font-size: 1.2vw;
    } 
  }
}

// Dropdown

.dropdown{
  h5{
    color:rgb(0, 122, 0);
  }
}

.paginate{
  ul{
    justify-content: center;
  }
}

// Produtos

@import 'lg';
@import 'md';
@import 'sm';
@import 'xs';