// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body{
  margin: 0px;
  box-sizing: border-box;
}

.navbar{
  box-shadow:  inset 0 0 70px 0 lightgrey !important;
  color: rgb(112, 112, 112);
}

section{
  padding: 20px;
  text-align: justify;
}

.carousel-indicators{
  li{
    border-radius: 40px;
    border: none;
    width: 10px;
    height: 10px;
  }
}

.carousel-item {
  height: 65vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-bottom: 500px;
}

/*TOP NAVBAR SOCIAL MEDIA*/

.icon {
  height: 25px !important;
  width: 25px !important;
  margin: 0 0.3vw;
}

.div-social {
  border-left: 1.5px solid lightgray;
  padding-left: 1vw;
  display: inline-flex;

}

#facebook{
  background-image: url(/img/icon/social/facebook.png);
  background-size: cover;
}

#instagram{
  background-image: url(/img/icon/social/instagram.png);
  background-size: cover;
}

.div-idioma{
  display: inline-flex;
}

.idioma {
  height: 25px !important;
  width: 25px !important;
  margin: 0 0.3vw;
}

#portuguese{
  background-image: url(/img/icon/idioma/portuguese.png);
  background-size: cover;
}

#spanish{
  background-image: url(/img/icon/idioma/spanish.png);
  background-size: cover;
}

.div-idioma {
  border-left: 1.5px solid lightgray;
  padding-left: 1vw;
}

.top-navbar {
  background-color: rgba(233, 227, 227, 0.089);
}

.btn-instagram {
  background-image: url(/img/icon/instagram.png);
  background-size: cover;
  min-width: 15vh;
  min-height: 5vh;
  padding: 1px;
  margin: 0 6vh;
}

.btn-shop {
  background-image: url(/img/icon/shop.png);
  min-height: 5vh;
  min-width: 5vh;
  background-size: cover;
  margin: 0 3vh;
  opacity: 0.6;
}

.btn-user {
  background-image: url(/img/icon/avatar.png);
  min-height: 5vh;
  background-size: cover;
  min-width: 5vh;
  margin: 0 5vh 0 0;
  opacity: 0.6;
}

.title {
  display: none;
}


/* Navbar */

.collapse{
  margin-left: 10vw;
}

.navbar-brand {
  height: 8vw;
  width: 8vw;
  background-image: url(/img/logo.png);
  background-size: cover;
  margin: 0 5vh;
}

.brand-sm{
  display: none;
}

.nav-link{
  font-size: 100%;
  letter-spacing: 0.168em;
}

.nav-item{
  margin: 0 1.5em;
  border-radius: 5px;
  white-space: nowrap;
}

.nav-item-hover:hover{
  background-color: rgba(21, 182, 88, 0.6);
  transition: 0.5s;
}

.nav-link:hover{
  color:white !important;
}

.navbar-bottom{
  border-bottom-style: solid;
  border-bottom-color: green;
}

/* SEARCH BAR AND CART*/
.menu-box{
  margin: 0 50px;
  width: 5vw;
  display: flex;
  justify-content: space-between;  
}

.cart-btn{
  img{
  height: 1.5vw;
  opacity: 0.6;
  }
}

.form-control{
  width: 80% !important;
  border:none;
  background: none;
  outline:none !important;
  border-radius: 25px;
  color: gray !important;
}

input:focus{
  box-shadow: none !important;
}

.search-btn{
  float: left;
   img{
    height: 1.5vw;
    opacity: 0.5;
   }
}

#search{
  display: none;
}

#searchsm{
  display: inline-block;
}

/* BANNER ROTATIVO */

.carousel-item {
  height: 25em;
  min-height: 20em;
  background: no-repeat center center scroll;
  background-size: cover;
}

@media only screen and (max-width: 1200px) {

  .navbar-brand {
    height: 120px;
    width: 120px;
  }
  
  .nav-item{
    font-size: 95%;
  }

  .nav-link{
    letter-spacing: 0;
    margin: 0;
  }
  
}

@media only screen and (max-width: 990px) {
 
  .icon{
    height: 20px !important;
    width: 20px !important;
    margin: 0 2px;
  }

  .collapse{
    margin-left: 0vw;
  }

  .title{
    display: inline;
  }
  .carousel-item {
    height: 20em;
    min-height: 20em;
    background: no-repeat center center scroll;
    background-size: cover;
  }
  
  .brand-desk{
    display: none;
  }

  .navbar-brand {
    height: 5em;
    width: 5em;
    /*background-image: url(/img/logo.png);*/
  }
  
  .nav-item{
    margin: 0.5em 0 !important;
  }
  .nav-item:hover{
    background:none;
  }

  .nav-link:hover{
    color:black !important;
  }

  .nav-search{
    justify-content: flex-end !important;
  }

  #search{
    display: none;
  }
  
  #searchsm{
    display: none;
  }

  #usuario{
    display: inline-block;
  }

  .usuario{
    display: inline-block;
  }
}

