@media only screen and (max-width: 768px) {

.brand-sm{
  height: 16vw;
  width: 16vw;
}

.banner{
  height:41vw;
}


.foto-galeria{
    margin: 0 3em;
}

.content-title{
  font-size: 6vw;
}

.content-subtitle{
  font-size: 4.1vw;
}

.subtext{
  line-height: 1.5em;
  font-size: 2.8vw;
}


  .nossa-empresa{
  div{
    p{
    font-size: 3.5vw;
    padding: 3%;
    }

    h1{
    border-bottom: solid 1px white;
    }
    background-image: url(/img/erva2.png) ;
    background-size: 100% 100%;  
  }    
}
  
  .navbar-bottom{
  display: none;
  }

.descricao-produtos{
  font-size: 2.5vw;
}

.nome-produtos a{
  font-size: 3.1vw;
}

}
